<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sticky_Ghost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Sticky_Ghost.Properties.Settings>
            <setting name="InitialLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="myColor" serializeAs="String">
                <value>100, 100, 100</value>
            </setting>
            <setting name="formTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textName" serializeAs="String">
                <value />
            </setting>
            <setting name="autosave_Property" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="savefile_Property" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="currentfont" serializeAs="String">
                <value>Segoe UI Semibold, 11.25pt, style=Bold</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>410</value>
            </setting>
            <setting name="PanelNavbarTheme" serializeAs="String">
                <value>41, 40, 40</value>
            </setting>
            <setting name="Main" serializeAs="String">
                <value>37, 37, 36</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>37, 37, 36</value>
            </setting>
            <setting name="NavbarLineColor" serializeAs="String">
                <value>45, 45, 46</value>
            </setting>
            <setting name="WDBorder1Color" serializeAs="String">
                <value>44, 44, 43</value>
            </setting>
            <setting name="WDBorder2Color" serializeAs="String">
                <value>44, 44, 43</value>
            </setting>
            <setting name="WDBorder3Color" serializeAs="String">
                <value>44, 44, 43</value>
            </setting>
            <setting name="NavbarSideline1Color" serializeAs="String">
                <value>44, 44, 43</value>
            </setting>
            <setting name="NavbarSideline2Color" serializeAs="String">
                <value>44, 44, 43</value>
            </setting>
            <setting name="BtnMinimize_BC" serializeAs="String">
                <value>41, 40, 40</value>
            </setting>
            <setting name="BtnMinimize_ILC" serializeAs="String">
                <value>41, 40, 40</value>
            </setting>
            <setting name="BtnMinimize_IFC" serializeAs="String">
                <value>59, 59, 59</value>
            </setting>
            <setting name="BtnMinimize_ALC" serializeAs="String">
                <value>24, 100, 38</value>
            </setting>
            <setting name="BtnClose_BC" serializeAs="String">
                <value>41, 40, 40</value>
            </setting>
            <setting name="BtnClose_ILC" serializeAs="String">
                <value>41, 40, 40</value>
            </setting>
            <setting name="BtnClose_IFC" serializeAs="String">
                <value>59, 59, 59</value>
            </setting>
            <setting name="BtnClose_ALC" serializeAs="String">
                <value>111, 31, 49</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="PanelMenu" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="COPanel" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="PanelTheme" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="BtnBackColor" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="panelSepa" serializeAs="String">
                <value>43, 43, 43</value>
            </setting>
            <setting name="BtnNormalCo" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="BtnActiveCo" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="BtnOnhoverCo" serializeAs="String">
                <value>55, 55, 55</value>
            </setting>
            <setting name="BtnTextCo" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="BtnOnhoverTextCo" serializeAs="String">
                <value>White</value>
            </setting>
        </Sticky_Ghost.Properties.Settings>
    </userSettings>
</configuration>